body{
	background-color: #004466;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #ffff00;
}

#header {

	background: #990000; 
	width: 600;
	height: 150;
	border-radius:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;

}

